/* Largura máxima */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .container {
    max-width: 800px;
  }
}

@media (max-width: 800px) {
  .container {
    max-width: 600px;
  }
}
