.contato {
  background-color: #000000;
  position: relative;
}

.contato::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("../img/deco1.svg") no-repeat center;
  position: absolute;
  left: 200px;
  top: -50px;
}

.contato-cols {
  display: grid;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.contato-texto {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #cccccc;
  max-width: 30ch;
}

.contato-links a {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.5rem;
  display: block;
  color: #ffffff;
  margin-bottom: 30px;
}

@media (max-width: 1000px) {
  .contato-links a {
    font-size: 2rem;
  }
}

@media (max-width: 800px) {
  .contato-links a {
    font-size: 1.5rem;
    line-height: 1.125rem;
  }
}
