header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 a {
  font-family: Playfair Display;
  font-size: 3rem;
  font-weight: 700;
  line-height: 80px;
  color: #000;
}

.nav ul {
  display: flex;
  gap: 20px;
}

.nav ul a {
  /* text-transform: uppercase; */
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  color: #141414;
  padding: 8px 16px;
  position: relative;
}

.nav a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background: #141414;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.nav a:hover:after {
  width: 100%;
}
